body{
	margin:0;
	min-width: 650px;
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 51, 102, 0.11);
    font-size:20px;
    height:40px;

}

li{
    display: inline;
    width:100%;
    text-align: right;
    padding-left:20px;
    padding-right: 20px;
    color:white;
    border-right: solid 1px;
    cursor:pointer;
    padding-bottom:10px;


   // float:right;
}
li:last-child{
	border-right:none;
}

span{
	-webkit-transition: .3s ease-out;

}
span:hover{
	color:#f08080;
	font-size:22px;
	color:white;
	text-decoration: none;

}
.aTag{
	color:white;
	text-decoration: none;
}


.background{
	background-image: linear-gradient(
		rgba(0, 0, 6, 0.53), 
		rgba(0, 0, 0, 0.72)
		),

		url('bostonSkyline.jpg');





	height:900px;
	width:100%;
	background-size: cover;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	 background-attachment: fixed;
	// position: relative;
 //    -webkit-box-shadow: 0 0 20px #333;
 //    box-shadow: 0 0 20px #333;
}
	.description{
		//line-height: 350px;
		padding-top:100px;
		color: white;
		// font-family:Verdana, Geneva, sans-serif;
		//	font-weight: 800;
		font-size: 40px;
		height:20%;

	}
		.info{
			display: flex;
			width:100%;
			padding-top:40px;
		}
			#rotate{
				width:50%;
				text-align: left;
				padding-right:10px;

			}
			#static{
				width:50%;
				text-align: right;
				border-left:10px;
				margin-left:10%;
				margin-right:15px;
			}

	.background img{
		height:30%;
		border-radius: 50%;
		cursor: pointer;
		//width:20%;
	}
	.categories{
		display: flex;
		color:white;
		height:35%;
		margin-left:10%;
		margin-right:10%;
		padding-top:40px;
		cursor: pointer;

	}
		.category{
			padding:10px;
			padding-right: 30px;
			padding-left:30px;
			webkit-tansform
		}
		.tabBackground:hover{
			font-size: 25px;
		}
		.title{
			height:10%;
			position: relative;
			padding-top:30px;
		}
		.tabBackground{
			height:100px;
			// left:10px;
			// right:10px;
			//background-color:#FF7F50;
			border-color: white;
			border: solid 5px;	
			border-radius:10px;
			padding-top:10px;
			background: rgb(34,34,34); /* for IE */
  			background: rgba(34,34,34,0.75);
  			-webkit-transition: .3s ease-out;
		}
		#about{
			width:33%;
			
			
		}
		#portfolio{
			width:33%;
		}
		#connect{
			width:33%;
		}

.aboutPage{
	height:850px;
	background-color: rgba(0, 51, 102, 0.86);
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis; 
}
#aboutTitle{
	text-align: center;
	padding-top:10px;
	font-size:50px;
	//font-weight: bold;
}
.aboutPage img{
	height:300px;
	padding:50px;
	float:left;
	overflow: hidden;
	padding-bottom:400px;
}
#text{
	padding-top:30px;
}
.text{
	padding:30px;
	padding-top:20px;
	font-size: 25px;
	color:rgba(255,255,255,.7);
	text-align: center;

}
.portfolioPage{
	height: 50px;
	background-image: linear-gradient(
		rgba(0, 0, 6, 0.53), 
		rgba(0, 0, 0, 0.72)
		),

		url('desk1.jpg');
	height:800px;
	width:100%;
	background-size: cover;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	 background-attachment: fixed;
}
#portfolioTitle{
	text-align: center;
	padding-top:10px;
	font-size:50px;
	//font-weight: bold;
	color:white;
	font-family:Verdana, Geneva, sans-serif;

}
.apps{
	display:flex;
	//position:absolute;
	height:20%;

}
.app{
	// height:15%;
	// width:15%;
	margin-right:5%;
	margin-left:5%;
	background-color: white;
	//margin-top:5%;
	border-radius:40px;
	paddint-top:10px;

}
#resumeLink{
	margin-top:100px;
}
.instructions{
	color:white;
	margin-bottom:50px;
	padding-top:20px;

}
.appInfoTitle{
	display:flex;
	//text-align: center;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	//margin-left:%;

}
.appInfoText{
	display:flex;
}
.appText{
	color:#d3d3d3;
	display:flex;
	height: 15%;
	width:15%;
	margin-right:5%;
	margin-left:5%;
	border-radius:40px;
	padding-top:10px;
	text-align: center;

}
.tabTitle{
	text-shadow: 2px 2px black;
}
#Testive{
border-left:5%;
}
.modal-container{
	position: fixed;
	background-color:#fff;
	
	left:50%;
	-webkit-transform:translate(-50%,-200%);
	-ms-transform: translate(-50%,-200%);
	transform: translate(-50%,-200%);
	width70%;

	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
}
.modal:before{
	content:"";
	position:fixed;
	background-color: rgba(0,0,0,0.8);
	display:none;
	top:0;
	left:0;
	height:100%;
	width:100%;

}
.modal:target:before{
	display:block;
}
.modal:target .modal-container{
	-webkit-transform:translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	top:10%;
	padding:10px;
	border-radius: 10px;
	height:70%;
	width:80%;
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	min-width: 600px;
}

#modal-close{

}

a img{
	height:100%;
	width:100%;
	//padding-right:10px;
	margin:none;

	
}
.application{
	margin:0;
	padding:0;
	border:0;
	height:100%;
	width:100%;
	background-color: white;
	//margin-top:5%;
	border-radius:40px;
	//paddint-top:10px;
	margin-left:5%;
	margin-right:5%;
}

#border{
	margin-left: 0px;
}
.modal-close{
	top:10%;
	margin-left:90%;
}
.popup{
	height:200px;
	width:200px;
	border-radius: 40px;
	padding:10px;
	//position:absolute;
}
.modal-title{
	padding-bottom:0px;
	margin-top:0px;
}
.modal-text{
	padding:15px;
	overflow: hidden;

}
.modal-link{
	
	font-weight: bold;
}

.aLink{
	text-decoration: none;
}
#contactPage{
	height:400px;
	background-color: white;
	color:#716d6d
}
#contactTitle{
	text-align: center;
	padding:20px;
	font-size:50px;
	color:#5858b5;
	margin:0px;	
}
#phone{
	height:100px;
}
#contactList{
	padding-top:10px;
	display:flex;

}

.contactButton{
	width:34%;

	margin-left:10%;
	margin-right:10%;
	padding-left:3%;
	padding-right:3%;

}

#contactWords{
	padding-top:10px;
	display:flex;

}
#introduction{
	padding:30px;
	text-align: center;
	font-size:20px;
	

}

.words{
	width:33%;
	text-align: center;
}
i{
color:black;}
i:hover{
	color:#5858b5;
}



